* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F0E4;
}

a {
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transform: translateX(10px);
    transition: transform 0.3s ease;
    cursor: default;
}

.icon {
    font-size: 20px;
    margin-right: 15px;
    color: #3E3F29;
}

#links {
    display: flex;
    align-items: center;
    margin-top: 12px;
    width: 400px;
}

a:hover {
    transform: translateX(20px); 
}

.project {
    cursor: pointer;
}

.resume {
    cursor: pointer;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box {
    position: relative;
    height: 320px;
    width: 800px;
    background-color: #BCA88D;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #a19079;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation {
    /* background-color: white; */
    height: 90%;
    width: 94%;
    padding-top: 25px;
    padding-left: 30px;
}

#logo {
    position: absolute;
    top: 155px;
    z-index: 10;
}

#hero-img {
    position: absolute;
    z-index: 10;
    margin-top: 100px;
    margin-left: 700px;
}

#heroImg {
    height: 370px;
}

#socials {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 25px;
}

#sourceCode {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 25px;
}

.socialLink {
    font-size: 40px;
}

.socialIcon {
    cursor: pointer;
}

.codeLink {
    cursor: pointer;
}